@media screen and (min-width: 1100px) {
  .contentWrap {
    //content box
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .contentsContainer {
      width: 50%;
      .contentTitle {
        padding: 0 20px 0 20px;
        text-align: start;
        font-size: 28px;
        margin-bottom: 6px;
        .titleIcon {
          padding-right: 6px;
        }
      }
      .contentText {
        padding-left: 120px;
        text-align: start;
        margin: 0;
        line-height: 30px;
        color: #444;
        display: flex;
        flex-wrap: wrap;
        .skillContentWrap {
          white-space: nowrap;
          margin-right: 10px;
          .titleIcon {
            margin-right: 6px;
          }
          .textSmall {
            font-size: 14px;
            margin-left: 6px;
            padding-right: 8px;
            padding-left: 3px;
            color: #888;
            border: 1px solid #999;
            line-height: 20px;
          }
          .contentBlock {
            display: inline-block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1099px) and (min-width: 980px) {
  .contentWrap {
    //content box
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .contentsContainer {
      width: 50%;
      .contentTitle {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        text-align: start;
        font-size: 28px;
        margin-bottom: 6px;
        .titleIcon {
          padding-right: 6px;
        }
      }
      .contentText {
        padding-left: 120px;
        text-align: start;
        margin: 0;
        line-height: 30px;
        color: #444;
        display: flex;
        flex-wrap: wrap;
        .skillContentWrap {
          white-space: nowrap;
          margin-right: 10px;
          .titleIcon {
            margin-right: 6px;
          }
          .textSmall {
            font-size: 14px;
            margin-left: 6px;
            padding-right: 8px;
            padding-left: 3px;
            color: #888;
            border: 1px solid #999;
            line-height: 20px;
          }
          .contentBlock {
            display: inline-block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 979px) and (min-width: 780px) {
  .contentWrap {
    //content box
    width: 680px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .contentsContainer {
      width: 50%;
      .contentTitle {
        width: 92%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        text-align: start;
        font-size: 26px;
        margin-bottom: 6px;
        .titleIcon {
          padding-right: 6px;
        }
      }
      .contentText {
        padding-left: 90px;
        text-align: start;
        margin: 0;
        line-height: 30px;
        color: #444;
        display: flex;
        flex-wrap: wrap;
        .skillContentWrap {
          white-space: nowrap;
          margin-right: 10px;
          .titleIcon {
            margin-right: 6px;
          }
          .textSmall {
            font-size: 14px;
            margin-left: 6px;
            padding-right: 8px;
            padding-left: 3px;
            color: #888;
            border: 1px solid #999;
            line-height: 20px;
          }
          .contentBlock {
            display: inline-block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 779px) and (min-width: 680px) {
  .contentWrap {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .contentsContainer {
      width: 50%;
      .contentTitle {
        width: 92%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        text-align: start;
        font-size: 24px;
        margin-bottom: 6px;
        .titleIcon {
          padding-right: 6px;
        }
      }
      .contentText {
        padding-left: 50px;
        text-align: start;
        margin: 0;
        line-height: 30px;
        color: #444;
        display: flex;
        flex-wrap: wrap;
        .skillContentWrap {
          white-space: nowrap;
          margin-right: 10px;
          .titleIcon {
            margin-right: 6px;
          }
          .textSmall {
            font-size: 14px;
            margin-left: 6px;
            padding-right: 8px;
            padding-left: 3px;
            color: #888;
            border: 1px solid #999;
            line-height: 20px;
          }
          .contentBlock {
            display: inline-block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 679px) and (min-width: 580px) {
  .contentWrap {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .contentsContainer {
      width: 50%;
      .contentTitle {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        text-align: start;
        font-size: 22px;
        margin-bottom: 6px;
        .titleIcon {
          padding-right: 6px;
        }
      }
      .contentText {
        padding-left: 50px;
        text-align: start;
        margin: 0;
        line-height: 30px;
        font-size: 14px;
        color: #444;
        display: flex;
        flex-wrap: wrap;
        .skillContentWrap {
          white-space: nowrap;
          margin-right: 10px;
          .titleIcon {
            margin-right: 6px;
          }
          .textSmall {
            font-size: 11px;
            margin-left: 6px;
            padding-right: 8px;
            padding-left: 3px;
            color: #888;
            border: 1px solid #999;
            line-height: 20px;
          }
          .contentBlock {
            display: inline-block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 579px) and (min-width: 380px) {
  .contentWrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    .contentsContainer {
      .contentTitle {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        text-align: start;
        font-size: 20px;
        margin-bottom: 6px;
        .titleIcon {
          padding-right: 6px;
        }
      }
      .contentText {
        padding-left: 100px;
        text-align: start;
        margin: 0;
        line-height: 30px;
        font-size: 14px;
        color: #444;
        display: flex;
        flex-wrap: wrap;
        .skillContentWrap {
          white-space: nowrap;
          margin-right: 10px;
          .titleIcon {
            margin-right: 6px;
          }
          .textSmall {
            font-size: 11px;
            margin-left: 6px;
            padding-right: 8px;
            padding-left: 3px;
            color: #888;
            border: 1px solid #999;
            line-height: 20px;
          }
          .contentBlock {
            display: inline-block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 379px) and (min-width: 230px) {
  .contentWrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    .contentsContainer {
      .contentTitle {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        text-align: start;
        font-size: 20px;
        margin-bottom: 6px;
        .titleIcon {
          padding-right: 6px;
        }
      }
      .contentText {
        padding-left: 50px;
        text-align: start;
        margin: 0;
        line-height: 30px;
        font-size: 14px;
        color: #444;
        display: flex;
        flex-wrap: wrap;
        .skillContentWrap {
          white-space: nowrap;
          margin-right: 10px;
          .titleIcon {
            margin-right: 6px;
          }
          .textSmall {
            font-size: 11px;
            margin-left: 6px;
            padding-right: 8px;
            padding-left: 3px;
            color: #888;
            border: 1px solid #999;
            line-height: 20px;
          }
          .contentBlock {
            display: inline-block;
          }
        }
      }
    }
  }
}
